<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title - Detect Keys Pressed</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/Default.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Detecting the Keys Pressed</p>
                </div>
                <div class="float-right" style=" margin-top: 12px;">
                    @if (Request.Url.ToString().Split('/')[3] == "")
                    {
                        <a href="~/about" style="padding: 0; margin: 0; background-color: transparent;">More Information</a>
                    }
                    else
                    {
                        <a href="~/" style="padding: 0; margin: 0; background-color: transparent;">Home Page</a>
                    }
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>